<div class='header'>
  <div class='container'>
    <h3>Caldwell Clarke</h3>
  	<ul>
    	<li>Home</li>
    	<li>Portfolio</li>
    	<li>About</li>
  	</ul>
  </div>
</div>

<div class='main'>
  <div class='container'>
  	<h1>Connecting gamers in a meaningful way</h1>
    <br>
  	<a class='btn' href='#'>View My Work</a>
  </div>
</div>

<div class='footer'>
  <a href='https://github.com/CaldwellClarke' class='fa fa-github'></a>
  <a href="https://twitter.com/yung_c0conut" class="fa fa-twitter"></a>
  <a href='www.linkedin.com/in/caldwell-clarke-82281b109' class='fa fa-linkedin'></a>
  <p>&copy; Caldwell Clarke 2017</p>
</div>
